# Django config
DEBUG=True
SECRET_KEY=your_secret_key
ALLOWED_HOSTS=localhost,127.0.0.1

# Pgadmin config
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# Database config
POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
DATABASE_URL=postgres://postgres:password123@db:5432/db